// ==========================================================================
// HEADER
// ==========================================================================//

header {
    //design
    background-image: url("../img/header.png"), linear-gradient(#BFBDC2, #E1E0E5 36%, #E6E5EA 70%, #E6E5EA);
    background-repeat: no-repeat;
    background-attachment: fixed;

    //layout
    @include padding-top-bottom(em(120px), em(80px));
    min-height: 540px;

    @include media($md){
        //design
        color: $white;
    }
    
    @include media($xs){
        //text
        h1 { font-size: 3.4em; };
    }
}