// ==========================================================================
// ABOUT
// ==========================================================================//
#about h4 {
    //layout
    margin-bottom: .2em;
}

.about-list {
    //design
    @extend .center;
    list-style-type: square;
    
    //layout
    width: 20em;
}