// ==========================================================================
// ABOUT
// ==========================================================================//
#about h4 {
    margin-bottom: .2em;
}

.about-list {
    @extend .center;
    width: 20em;
    list-style-type: square;
}