// ==========================================================================
// DETAILS
// ==========================================================================//
#details p {
    //design
    color: $mediumgrey;
}

.details-list {
    //text
    font-size: 1.1em;

    //design
    list-style-type: disc;
    
    //layout
    margin-bottom: 1em;
}