// ==========================================================================
// DETAILS
// ==========================================================================//
#details p {
    color: $mediumgrey;
}

.details-list {
    list-style-type: disc;
    font-size: 1.1em;
    margin-bottom: 1em;
}