// ==========================================================================
// PRIVACY POLICY
// ==========================================================================//

$padding: 3rem;

#privacy-policy {
	@include hr($darkgrey);

	@extend .center-abs;
	top: 5rem;
	width: 90%;
	max-width: 1000px;
	max-height: 500px;
	max-height: 85%;
	overflow-y: auto;
	padding: $padding;

	background-color: $offwhite;
	border: 2px solid $lightestgrey;
	border-radius: 1.2em;

	visibility: visible;
	opacity: 1;
	@include transition(all 200ms linear);
}

#privacy-policy.hidden {
	visibility: hidden;
	opacity: 0;
}

.privacy-policy--container {
    max-width: 720px;
}

.privacy--close-icon {
	top: $padding * 0.5;
	right: $padding * 0.5;
	@include hover($trueblack);
	cursor: pointer;
}