// ==========================================================================
// COLORS
// ==========================================================================//

//Custom colors

$red: #DC143C;
$darkred: #AD0728;
$offwhite: #F9F9FA;
$lightestgrey: #EEE;
$lightergrey: #CCC;
$lightgrey: #858585;
$mediumgrey: #77777a;
$darkgrey: #333333;

// Color Usage

$color-primary: $red;
$color-secondary: $red;


// Common Colors

$white: #fff;
$grey: #797e83;
$black: #222222;
$trueblack: #000;